
*{
	padding:0;
	margin: 0;
}
body{
	
	min-height: 100vh;
}
/*main post*/
.wrapper{
	display: flex;
}
/*left css*/
.wrapper .left{
	background: #cfcfcf;
	width: 15%;
	min-height: 100vh;
	padding: 10px 15px;	
}
.wrapper .left .search #searchPosts .form-group{
	display: flex;
	min-height: 80px;
	flex-direction: column;
	justify-content: space-between;
}
.wrapper .sidePostLink .postLinkLayout{
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-bottom: 1px solid #acafb0;
}
.wrapper .sidePostLink .postLinkLayout a.postLinkTitle{
	text-decoration: none;
	text-transform: capitalize;
}
.wrapper .sidePostLink .postLinkLayout .postLinkLayoutTime{
	text-align: right;
}
.wrapper .sidePostLink .postLinkLayout .postLinkLayoutTime small{
	font-size: 11px;
	color: grey;
}
.wrapper .sidePostLink .postLinkLayout .postLinkLayoutTime small:before{
	content: '-';
}
/*right css*/
.wrapper .right{
	padding: 10px 30px;
}
.wrapper .right .postLayout{
	display: flex;
	flex-direction: column;
	width: 80vw;
	padding: 10px 15px;
	background: #1d1d1d;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 20px;
}
.right .postLayout .upperArea{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 90px;
	padding: 20px 0;
}
.right .postLayout .upperArea .heading h4{
	color: #adb5bd;
	text-transform: capitalize;
	font-size: 2em;
}
.right .postLayout .upperArea .posterArea{
	display: flex;
	align-items: center;
	height: 60px;
}
.right .postLayout .upperArea .posterArea .posterImage img{
	width: 50px;
	height:50px;
	border: 2px solid rgba(255,255,255,0.8);
	border-radius: 50%;
}
.right .postLayout .upperArea .posterArea .posterName{
	color: white;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.posterArea .posterName .posterEmail{
	color: #007bff;
}
.right .postLayout .postImage img{
	width: 100%;
	border: 3px solid grey;
	border-radius: 4px;
}
.right .postLayout .postBody p{
	font-size: 18px;
	color: white;
	text-align: justify;
	
}
.right .postLayout .postedDate{
	text-align: right;
}
.right .postLayout .postedDate small{
	color: grey;
	font-weight: 300;
}
.right .postLayout .postedDate small:before{
	content: '- ';
}